<div class="flex justify-center items-center h-screen p-4">
    <form [formGroup]="registrationForm" (ngSubmit)="handleRegister()">
        <mat-form-field class="w-full" appearance="fill">
            <mat-label class="text-slate-50" for="username">Username</mat-label>
            <input id="username" type="username" matInput formControlName="username">
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label class="text-slate-50" for="email">Email</mat-label>
            <input id="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label class="text-slate-50" for="password">Password</mat-label>
            <input id="password" type="password" matInput formControlName="password">
        </mat-form-field>
        <div class="flex justify-between">
            <button class="bg-slate-50" mat-flat-button>Register</button>
            <div class="flex items-center">
                <a class="text-sky-400" routerLink="/sign-in">Already have an account?</a>
            </div>
        </div>
    </form>
</div>