<app-nav-bar></app-nav-bar>
<div class="md:container md:mx-auto p-4">

    <!-- <div class="mb-8">
        <form class="w-full h-48 relative" [formGroup]="form" (ngSubmit)="createPost($event)">

            <textarea class="text-lg w-full h-48 bg-slate-800 text-slate-50 resize-none p-4 rounded-lg outline-0"
                placeholder="What's on your mind?" formControlName="content" required
                (dragover)="handleDragOver($event)" (dragleave)="handleDragLeave($event)"
                (drop)="handleDrop($event)"></textarea>
            <input type="file" id="upload" (change)="fileInputChange($event)" multiple hidden />

            <div *ngIf="previewFiles">
                <div *ngFor="let preview of previewFiles">
                    <img class="" [src]="preview" />
                </div>
            </div>

            <div class="absolute bottom-0 w-full flex justify-end p-4">
                <label class="mt-auto mb-auto" for="upload">
                    <mat-icon class="text-slate-50">attach_file</mat-icon>
                </label>
                <button class="text-slate-50" type="submit" mat-flat-button>Post</button>
            </div>

        </form>
    </div> -->
    <div class="mb-8">
        <div class="bg-slate-800 rounded-lg p-4">
            <form [formGroup]="form" (ngSubmit)="createPost($event)">

                <div class="mb-2">
                    <textarea class="text-lg w-full bg-slate-800 rounded-lg text-slate-50 resize-none outline-0"
                        placeholder="What's on your mind?" formControlName="content" required
                        (dragover)="handleDragOver($event)" (dragleave)="handleDragLeave($event)"
                        (drop)="handleDrop($event)"></textarea>
                    <input type="file" id="upload" (change)="fileInputChange($event)" multiple hidden />
                </div>

                <div *ngIf="previewFiles" class="flex flex-row space-x-4 mb-2 overflow-x-auto">
                    <div *ngFor="let preview of previewFiles">
                        <img *ngIf="preview.fileType.includes('image')" class="rounded-lg w-24 h-24"
                            [src]="preview.file" />
                        <video *ngIf="preview.fileType.includes('video')" class="rounded-lg w-24 h-24"
                            [src]="preview.file" controls></video>

                    </div>
                </div>

                <div class="flex justify-end">
                    <label class="mt-auto mb-auto" for="upload">
                        <mat-icon class="text-slate-50">attach_file</mat-icon>
                    </label>
                    <button class="text-slate-50" type="submit" mat-flat-button>Post</button>
                </div>

            </form>
        </div>
    </div>

    <div>
        <div *ngFor="let post of posts"
            class="bg-slate-800 p-4 rounded-lg mb-6 outline outline-offset-2 outline-slate-50">
            <div class="flex flex-row">

                <div class="flex flex-col mr-4">
                    <img *ngIf="!post.user.avatar" class="rounded-full w-12 h-12"
                        src="https://www.bostonmagazine.com/wp-content/uploads/sites/2/2021/08/rubber-duck-stock-t.jpg" />
                    <img *ngIf="post.user.avatar" class="rounded-full w-12 h-12" [src]="post.user.avatar" />

                    <div *ngIf="post.openComment" class="flex-1 mt-2 ml-auto mr-auto bg-slate-50 w-px mb-2"></div>
                </div>

                <div class="flex flex-col flex-1">
                    <div class="flex flex-row">
                        <a
                            class="text-slate-50 font-bold mr-4 hover:underline pointer cursor-pointer">@{{post.user.username}}</a>
                        <p class="text-slate-50 mb-2">{{post.createdAtFormat}}</p>
                    </div>
                    <p class="text-slate-50 mb-2 whitespace-pre-wrap">{{post.content}}</p>


                    <div *ngIf="post.media" class="flex flex-row space-x-4 mb-2 overflow-x-auto">
                        <div *ngFor="let media of post.media">
                            <img *ngIf="media.mediaType === 1" class="rounded-lg w-24 h-24" [src]="media.file" />
                            <video *ngIf="media.mediaType === 2" class="rounded-lg w-24 h-24" [src]="media.file"
                                controls></video>
                        </div>
                    </div>


                    <div class="flex justify-between text-sky-400">
                        <div (click)="handleOpenComment($event, post)">Comment</div>
                        <div>Like</div>
                        <div (click)="handlePostClick($event, post)">Share</div>
                        <div (click)="handleSignPost($event, post)">Sign</div>
                        <div (click)="handleVerifyPost($event, post)">Verify</div>
                        <div (click)="handleDeletePost($event, post)">Delete</div>

                    </div>
                    <!-- {{post._id}} -->
                </div>

            </div>

            <div *ngIf="post.openComment" class="flex flex-row">

                <div class="flex flex-col mr-4">
                    <img class="rounded-full w-12 h-12"
                        src="https://www.bostonmagazine.com/wp-content/uploads/sites/2/2021/08/rubber-duck-stock-t.jpg" />

                    <!-- <div *ngIf="post.openComment" class="flex-1 mt-2 ml-auto mr-auto bg-slate-50 w-px mb-2"></div> -->
                </div>


                <form class="flex-1 h-24 relative" [formGroup]="form" (ngSubmit)="createComment($event, post)">

                    <textarea class="text-lg w-full h-24 bg-slate-800 text-slate-50 resize-none outline-0"
                        placeholder="Your reply" formControlName="content" required></textarea>
                    <div class="absolute bottom-0 w-full flex justify-end">
                        <button class="text-slate-50" type="submit" mat-flat-button>Post comment</button>
                    </div>

                </form>

            </div>

            <!-- <div class="flex flex-row">

                <div class="flex flex-col mr-4">
                    <img class="rounded-full w-12 h-12"
                        src="https://www.bostonmagazine.com/wp-content/uploads/sites/2/2021/08/rubber-duck-stock-t.jpg" />

                </div>

                <div class="flex flex-col flex-1">
                    <div class="flex flex-row">
                        <a
                            class="text-slate-50 font-bold mr-4 hover:underline pointer cursor-pointer">@{{post.user.username}}</a>
                        <p class="text-slate-50 mb-2">{{post.createdAtFormat}}</p>
                    </div>
                    <p class="text-slate-50 mb-2 whitespace-pre-wrap">{{post.content}}</p>

                </div>

            </div> -->

        </div>
    </div>

</div>